<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="form_table">
  	<tr><td><%= f.label :name %></td><td><%= f.text_field :name %></td></tr>
  	<tr><td><%= f.label :password %></td><td><%= f.text_field :password %></td></tr>
  	<tr><td><%= f.label :phone %></td><td><%= f.text_field :phone %></td></tr>
  	<tr><td colspan="2"><%= f.submit %>取消</td></tr>
  </table>
<% end %>
